.main{
    background-color: pink;
    border: 5px solid green;
}
.section1{
    
    height: 84px;
    width: 150px ;
    color: yellow;
    background-color: black;
    border: 2px solid red;
    border-radius:20px;
    display:inline-block
}
.section2{
    margin: 10px;
    margin-left: 50px;
    height: 52px;
    width: 229px;
    color: yellow;
    background-color: black;
    border: 2px solid red;
    border-radius:20px;
    display:inline-block
}
.section3{
    margin-left: 200px;
    height: 123px;
    width: 150px;
    color: yellow;
    background-color: black;
    border: 2px solid red;
    border-radius:20px;
    display:inline-block
}
.section4{
    padding: 70px;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    color: black;
    background-color: yellow;

}
.section5{
    box-shadow: 2px 2px grey;
    margin: auto;
    height: 400px;
    width:200px;
    text-align: center;
    border: 2px dotted grey;
    padding: 70px;
    text-align: center;
    background-color: beige;
    border-radius: 20px;
    color: black;
    

}
.menu{ 
    text-align: center;
    height: 13px;
    width: 46px;
    color: yellow;
    background-color: black;
    border: 5px solid red;
    border-radius:20px ;
    display: inline-block;
    position: absolute;
   margin-left: 422px;
}
.flex-container{
    text-align: center;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;


}
.para1{
    margin: 40px;
    height: 274px;
    width: 193px;
    color: black;
    background-color: bisque;
    border-radius: 20px;

}
.para2{
    margin: 40px;
    height: 274px;
    width: 193px;
    color: black;
    background-color: bisque;
    border-radius: 20px;

}

.para3{
    margin: 40px;
    height: 274px;
    width: 193px;
    color: black;
    background-color: bisque;
    border-radius: 20px;

}

.para4{
    margin: 40px;
    height: 274px;
    width: 193px;
    color: black;
    background-color: bisque;
    border-radius: 20px;

}

.para5{
    margin: 40px;
    height: 274px;
    width: 193px;
    color: black;
    background-color: bisque;
    border-radius: 20px;

}

.para6{
    margin: 40px;
    height: 274px;
    width: 193px;
    color: black;
    background-color: bisque;
    border-radius: 20px;

}

